.header1{
   background-color: rgb(18, 124, 245);
   font-size: 20px;
   color: aliceblue;
   padding: 8px;
}
.header2{
    background-color: rgb(49, 205, 49);
    font-size: 20px;
    color: aliceblue;
    padding: 8px;
}
.form_row{
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    padding: 4px 10px;
}
.form_col{
    display: grid;
    grid-template-columns: repeat(1,minmax(0,1fr));
    padding: 4px 10px;
}
.radio_btn{
   display: flex; 
   align-items: baseline;
   grid-template-columns: repeat(1,minmax(0,1fr));
 
}
